@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ebe9e1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  /* Code for Firefox */
  color: #292830;
  background: #5da7ae;
}

::selection {
  color: #292830;
  background: #5da7ae55;
}

* {
  color: black;
  font-family: Plus Jakarta Sans, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}

.home-background {
  background-color: #5da7ae45;
  background-image: 
  /* Gradient overlay for the fade effect */ linear-gradient(
      to bottom,
      rgba(241, 245, 249, 0) 0%,
      #ebe9e1 70%
    ),
    /* Original background image */
      repeating-radial-gradient(circle at 0 0, transparent 0, #ebe9e1 90px),
    repeating-linear-gradient(#ebe9e133, #ebe9e13f);
}
hr {
  border: 0.5px solid;
  margin-bottom: 140px;
  border: #ebe9e1;
}

h1 {
  @apply text-3xl;
  @apply font-secondary;
  @apply text-secondary;
}

h2 {
  @apply text-2xl font-bold text-center my-5;
  @apply text-third;
}

h3 {
  @apply text-xl text-third font-medium;
}

p {
  @apply text-lg py-3 leading-loose;
  @apply text-center;
  @apply text-third;
}

li {
  @apply text-lg leading-relaxed;
  @apply text-primary;
}
